<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Role Assignment</title>
</head>
<body>
	<h1>Role Assignment Form</h1>

	<!-- Check if the user has the "superadmin" role -->
	<div
		th:if="${#authorization.expression('hasRole(''ROLE_SUPERADMIN'')')}">
		<form action="/assign-roles" method="post">
			<label for="adminRole">Assign Role for Admin:</label> <select
				id="adminRole" name="adminRole">
				<option value="ADMIN">Admin</option>
				<option value="SALES">Sales</option>
			</select> <label for="salesRole">Assign Role for Sales:</label> <select
				id="salesRole" name="salesRole">
				<option value="ADMIN">Admin</option>
				<option value="SALES">Sales</option>
			</select>

			<button type="submit">Assign Roles</button>
		</form>
	</div>

	<!-- Display a message if the user doesn't have the "superadmin" role -->
	<div
		th:unless="${#authorization.expression('hasRole(''ROLE_SUPERADMIN'')')}">
		<p>You do not have permission to access this page.</p>
	</div>
</body>
</html>